@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  direction: ltr;
  background-image: url('C:\Users\dovma\OneDrive\Desktop\FullStackPRJ\client\src\images\logo.png'); /* Add this line */
  background-size: cover; /* Ensure the image covers the container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}

h2 {
  color: #333;
  font-weight: 700;
  margin-bottom: 20px;
}

.text {
  font-size: 18px;
  line-height: 1.8;
  color: #666;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Background for text to ensure readability */
  padding: 20px;
  border-radius: 10px;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}
