.mainNav{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 100%;
    padding: 1%;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #d9c5c5;
    box-sizing: border-box;
}

nav a{
    color: #fff;
}

.hoverNav{
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 5px 10px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #e27f6d24;
}

.hoverNav li{
    list-style-type: none;
}

.hoverNav a{
    color:#e27f6d;
}

nav img{
    height: 10vh;
}

nav a:hover{
    color: #e27f6d;
    border-bottom: #fff solid 3px;
}
