.mainNav{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 100%;
    padding: 1%;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #e7a464;
}

a{
    color: #fff !important;
}

.hoverNav{
    background-color: #f8f9fa;
    color: #000;
    border-radius: 5px;
    padding: 5px 10px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #e7a464;
}

.hoverNav li{
    
}
